@import "../common.scss";

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // height: 100vh;
  background: var(
    --violet-light,
    linear-gradient(180deg, #a9a2b9 0%, #c9c9c9 100%)
  );
}

.header {
  display: flex;
  width: 100%;
  height: 6rem;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #000;
  background: #a9a2b9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
  color: #000;
  font-family: var($font-text-bold);
  font-size: 2rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.adminBtn {
  padding: 1rem 1.2rem;
  border-radius: 10px;
  border: 0.1rem solid black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #f8f8ff;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
}

.containerTitle {
  color: #000;
  font-family: var($font-text-bold);
  font-size: 2rem;    
}

.adminContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}


.subjectContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1.5rem 3rem;
  width: 100%;
  height: 40rem;
  background-color: #f8f8ff;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  gap: 2rem;
  overflow-y: scroll;
  margin: 3rem 0;
}

.subjectContainer::-webkit-scrollbar {
  width: 8px;
}

.subjectContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  color: #000;
  
  input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid black;
    padding: 1rem;
  }
  
  textarea {
    width: 100%;
    // height: 15rem;
    border-radius: 5px;
    border: 2px solid black;
    padding: 1rem;
  }
}

.textColor {
  color: #000;
}

.title {
  color: #af71ff;
  font-family: var($font-text-bold);
  font-size: 1.5rem;    
}

.listContainer {
  width: 100%;
  gap: 3rem;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  color: #000;
  font-family: var($font-text-bold);
  font-size: 1.5rem;    
  gap: 3rem;
  padding: 1rem;
  cursor: pointer;
  
  .grade {
    color: #af71ff;
  }
}

.listSummary {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.listDetail {
  display: flex;
  // border: 1px solid #a9a2b9;
  gap: 2rem;
  text-wrap: nowrap;
  overflow: hidden;
  color: #000;
}